body{
	padding: 200px;
	margin: 0 auto;
	text-align: center;
	display: block;
}
h1{
	color: #7E2A9F;
	text-align: center;
	display: block;
}
p{
	font-size: 110%;
	text-align: center;
	display: block;
}
a{
	text-decoration: none;
}