#sample_projects{
    display: flex;
    justify-content: center;
}

.hover_effect2{
    transition: 1.5s;
}
.hover_effect2:hover{

    transform: scale(1.2);
}
.movetext:hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    font-family: "quicksand",'sanserif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}