
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: url("../img/colourbg2.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(49, 71, 89, 0.5);
}

@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}

a {
  color: #24b7a4;
}

a:hover {
  color: #36d8c3;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  position: relative;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  padding: 100px 0;
  /* countdown */
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#header h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
  
}

#header .countdown {
  margin-bottom: 80px;
}

#header .countdown div {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 10px 10px;
  width: 100px;
  padding: 15px 0;
}

#header .countdown div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
}

#header .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 575px) {
  #header .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }
  #header .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  #header .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

#header .subscribe {
  font-size: 15px;
  text-align: center;
}

#header .subscribe h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#header .subscribe .subscribe-form {
  min-width: 300px;
  margin-top: 10px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
}

#header .subscribe .subscribe-form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#header .subscribe .subscribe-form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #24b7a4;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .subscribe .subscribe-form input[type="submit"]:hover {
  background: #22ae9c;
}

#header .subscribe .error-message {
  display: none;
  color: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#header .subscribe .sent-message {
  display: none;
  color: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#header .subscribe .loading {
  display: none;
  text-align: center;
  padding: 15px;
}

#header .subscribe .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading-notify 1s linear infinite;
  animation: animate-loading-notify 1s linear infinite;
}

@-webkit-keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#header .social-links {
  margin-top: 40px;
}

#header .social-links a {
  font-size: 16px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding-top: 14px;
  margin: 0 3px;
  border-radius: 50%;
  text-align: center;
  width: 48px;
  height: 48px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#header .social-links a:hover {
  background: #24b7a4;
  border-color: #24b7a4;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #d8f7f3;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #24b7a4;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.about .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.about .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.about .icon i {
  color: #fff;
  font-size: 42px;
}

.about .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.about .title a {
  color: #fff;
  transition: 0.3s;
}

.about .description {
  line-height: 24px;
  font-size: 14px;
}

/*Social Media Icons*/
ul{
  display: flex;
}
ul li{
  position: relative;
  display: block;
  
  font-size: 30px;
  height: 0px;
  width: 0px;
  
  
  line-height: 60px;
  border-radius: 50%;
  margin: 0 50px;
  cursor: pointer;
  transition: .5s;
}
ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
ul li:nth-child(1):before{
  background: #4267B2 ;
}
ul li:nth-child(2):before{
  background: #1DA1F2;
}
ul li:nth-child(3):before{
  background: #E1306C;
}
ul li:nth-child(4):before{
  background: #2867B2;
}
ul li:nth-child(5):before{
  background: #ff0000;
}
ul li:hover:before{
  filter: blur(1px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}
ul li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
ul li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #1DA1F2;
}
ul li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
ul li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #2867B2;
}
ul li:nth-child(5):hover:before{
  box-shadow: 0 0 15px #ff0000;
}
ul li:nth-child(1):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
ul li:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}
ul li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
ul li:nth-child(4):hover{
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}
ul li:nth-child(5):hover{
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}
/*Social Media Icons*/



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: rgba(38, 55, 69, 0.4);
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #36d8c3;
}
