
#why_hackecho  {
  background: rgb(231, 210, 255);
   border: 4px solid black;
   font-style: sans-serif;
  font-family: Arial, Helvetica, sans-serif; 
   padding: 20px;
  border-radius: 6px;
  margin: 0 auto;
}
#why_hackecho-container {
  max-width: 1300px;
  margin:0 auto;
  border-radius: 20px;

}
#why_hackecho ul li{
	background: rgb(231, 210, 255);
	font-size: 18px;
	color: rgb(0, 0, 0);
    letter-spacing: .5px;
    margin:0;
}
#why_hackecho p{
  padding: 15px 10px ;
  font-size: 20px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  letter-spacing: .5px;
  margin: 0;
}