
#why_hackecho  {
   font-style: sans-serif;
  font-family: Arial, Helvetica, sans-serif; 
   padding: 20px;
  margin: 0 auto;
}
#why_hackecho-container {
  max-width: 1300px;
  margin:0 auto;

}
#why_hackecho ul li{
	font-size: 18px;
	color: #ffffff;
    letter-spacing: .5px;
    margin:0;
}
#why_hackecho p{
  padding: 15px 10px ;
  font-size: 20px;
  border-radius: 5px;
  color: #ffffff;
  letter-spacing: .5px;
  margin: 0;
}
.about{
  font-size: 18px;
  font-style: sans-serif;
  font-family: Arial, Helvetica, sans-serif; 
}